/* TODO: need to create a a scrolling carrousel for music section */


h1 {
    color: white;
  }

p {
    color: white;
}
.newRelease {
   color: #c7c7c7;
}

.newReleasePic {
    height: 350px;
    width: 350px;
}

.bandHero {
    height: 900px;
    width: 100%;
    opacity: 40%;
}

#music {
    background-color: #244964;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
}

.single-art {
    height: 250px;
    width: 250px;
    margin-right: 100px;
    position: relative;
    bottom: 25px;
}