

h1 {
    color: white;
  }

p {
    color: white;
}
.newRelease {
   color: #c7c7c7;
   margin: 200px 0px 50px 0px;
}

.newReleaseHeader {
    position: relative;
    left: 468px;
    margin: 30px 0px 60px 0px;
    width: fit-content;
}

.newReleasePic {
    height: 350px;
    width: 350px;
    position: relative;
    left: 500px;
}
/* new release button positioning */
.newReleaseBtn {
    position: relative;
    left: 1000px;
    bottom: 388px;
    display: flex;
    flex-direction: column;
    width: 90px;
    align-items: center;
}
/* new release button styling for each individual button */
.rSpotifyBtn {
    margin-bottom: 30px;
    padding: 10px 20px 10px 15px;
    border-radius: 10px;
    background-color: #1DB954;
    opacity: 85%;
}

.rAppleBtn {
    margin-bottom: 30px;
    padding: 10px 20px 10px 15px;
    border-radius: 10px;
    background-color: #fc3c44;
    opacity: 85%;
}

.rAmazonBtn {
    margin-bottom: 30px;
    padding: 10px 20px 10px 15px;
    border-radius: 10px;
    background-color: #04AEC4;
    opacity: 85%;
}

.rYoutubeBtn {
    margin-bottom: 30px;
    padding: 10px 20px 10px 15px;
    border-radius: 10px;
    background-color: #FF0000;
    opacity: 85%;
}

.bandHero {
    height: 1020px;
    width: 100%;
}

#music-slider {
    background-color: #244964;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
   
.music-header{
    color: #c7c7c7;
    display: flex;
    justify-content: center;
    padding: 0px 0px 30px 0px;
    margin-top: 10px;
    font-size: 48px;
}


.music-slideTrack {
    display: flex;
    animation: scroll 30s linear infinite;
    width: calc(350px * 10);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-350px * 5))}
}

.single-art {
    height: 250px;
    width: 250px;
    margin-right: 100px;
    position: relative;
    bottom: 25px;
}



